spring:
  application:
    name: user-management
  datasource:
    url: jdbc:postgresql://postgres:bWmvSAaqdshusfQVjbTdrBVlaidqqnYg@metro.proxy.rlwy.net:48912/railway
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true