spring:
  datasource:
    url: jdbc:mysql://root:xDfdRIMTEXYZzauhkpQmHxJYJjWSSpfY@tramway.proxy.rlwy.net:31208/railway
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true