spring:
  application:
    name: user-management
  datasource:
    url: jdbc:postgresql://postgres:lcUgePoRjXCycaDdgjcVEQONIHxsqUUJ@postgres.railway.internal:5432/railway
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
