spring:
  datasource:
    url: jdbc:postgresql://postgres:bEgAQRSeobKImuDhvDCeAsGvCBrVFOPe@ballast.proxy.rlwy.net:45427/railway
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      data-source-properties:
        ssl: true
        sslmode: require
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true