spring:
  application:
    name: user-management
  datasource:
    url: jdbc:postgresql://postgres:lcUgePoRjXCycaDdgjcVEQONIHxsqUUJ@caboose.proxy.rlwy.net:44635/railway
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
